:root {
  --cyan: hsl(185, 75%, 39%);
  --blue-main: hsl(229, 23%, 23%);
  --blue-paragraph: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --ff-main: 'Kumbh Sans', sans-serif;
  --regular: 400;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: var(--ff-main);
  background: url('./images/bg-pattern-card.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  place-items: center;
}

.profileCard {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  display: grid;
  place-items: center;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), -2px -2px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

.blue-bg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: url('./images/bg-pattern-card.svg');
  background-position: center;
  width: 100%;
  height: 8.5rem;
}

.profile-img {
  position: absolute;
  top: 4rem;
  height: 150px;
}

.profile-photo {
  border: 5px solid #fff;
  border-radius: 100px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.profile-info {
  margin-top: 5rem;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.person-info p {
  color: var(--blue-paragraph);
  margin-bottom: 0.25rem;
  font-weight: var(--regular);
}

.person-info h3 {
  color: var(--blue-main);
  font-size: 1.5rem;
  font-weight: var(--bold);
}

.icons {
  margin: 1rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  padding: 0 0.5rem;
  color: var(--blue-main);
  font-size: 1.5rem;
}

.icon {
  cursor: pointer;
  margin: 0 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  transition: 0.25s transform linear, 0.3s color ease-in-out;
}

.icon:hover {
  color: var(--cyan);
  transform: scale(1.5);
}

.action-btn {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--cyan);
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--cyan);
  font-weight: var(--bold);
  transition: ease-in-out 0.5s background-color, ease-in-out 0.5s color;
}

.action-btn:hover {
  color: var(--cyan);
  background-color: #fff;
}

@media (min-width: 520px) {
  .profile-img {
    top: 3.5rem;
  }

  .profile-info {
    margin-top: 5rem;
  }

  .profile-photo {
    width: 150px;
    height: auto;
  }

  .icon {
    font-size: 2rem;
  }

  .icons {
    padding: 0 1rem;
    font-size: 2rem;
  }

  .person-info h3 {
    font-size: 2rem;
  }
}
